@using Letters.Models
@using Letters.Helpers

@model IndexViewModel

<div class="container">
    @foreach (Letter l in Model.Letters)
    {
        <div class="item-letter-container">
            <div class="w3-panel w3-card-4 item-letter w3-panel w3-pale-yellow w3-leftbar w3-border-yellow">
                @if (l.Content.Length <= 200)
                {
                    @l.Content
                }
                else
                {
                    @(l.Content.Substring(0, 200) + "...")
                }
            </div>
            <a href="@Url.Action("EditLetter", "Letters", new { id = l.LetterId })" class="w3-btn-floating w3-green"><span class="glyphicon glyphicon-pencil"/></a>
            <a href="@Url.Action("DeleteLetter", "Letters", new { id = l.LetterId })" class="w3-btn-floating w3-red"><span class="glyphicon glyphicon-remove" /></a>
        </div>
    }
    <br/>
    <div class="btn-group">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("AllLetters", new { page = x + 1 }))
    </div>
</div>


